<h1>Tilmelding </h1>
<% if @overview.errors.any? %>
    <div id="errors">
        <p>Please correct the following <%= pluralize(@overview.errors.count, "error") %>: </p>
     <ul>
    <% @overview.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
     <% end %>
    </ul>
</div>
<% end %>

<article class="form">
  <%= render 'form'%>
</article>

