<h1>Opret Arrangement<h1>
<% if @course.errors.any? %>
    <div id="errors">
        <p>Please correct the following <%= pluralize(@course.errors.count, "error") %>: </p>
     <ul>
    <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
     <% end %>
    </ul>
</div>
<% end %>
<article class="form">
  <%= render 'form'%>
</article>

